body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img{
    height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 10px;
    color: white;
}

.header .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.header .nav {
    display: flex;
    gap: 20px;
}

.header .nav a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.header .nav a:hover {
    background-color: #575757;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header .nav {
        flex-direction: column;
        width: 100%;
    }

    .header .nav a {
        padding: 10px 20px;
        width: 100%;
        text-align: left;
    }
}
