*,
html {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar img {
    height: 90px;
}

.navbar button {
    border: none;
    padding: 10px 20px;
    background-color: rgb(222, 216, 255);
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    transition: 0.6s;
    font-size: normal;
}

.navbar button:hover {
    background-color: pink;
    color: black;
    font-weight: bold;
}


.navbar {
    padding: 5px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    font-size: normal;
}

.navbar ul a {
    text-decoration: none;
    color: black;
    padding: 8px 20px;
    transition: 0.8s;
    margin: 0px 5px;
}

.navbar ul a:hover {
    background-color: rgb(255, 189, 189);
    color: white;
    box-shadow: 0 0 10px black 0.5s;
    border-radius: 5px;
}

/*Hero Section*/

.hero-section {
    background: url(spektra/5.jpg) no-repeat scroll 50% 50%;
    height: 750px;
}

.hero {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 50%;
    top: 40%;
    gap: 15px;
}

.head {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
}

.serv-btn {
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    background-color: rgb(222, 216, 255);
    ;
    color: black;
    border-radius: 5px;
    transition: 0.6s;
    font-weight: bold;
}

.serv-btn:hover {
    background-color: pink;
    color: black;
    font-weight: bold;
}

/*Services Page*/

.services {
    padding: 60px 45px;
}

.services-inner {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}

.services-item img {
    height: 300px;
    border-radius: 5px;
}

/*Footer*/

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;

}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 20px 0;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.developer {
    text-align: center;
    justify-content: center;
    margin: 10px;
    font-size: large;
    color: #bbbbbb;
    font-weight: bold;
}


/*About us section*/



.about-header-hero {
    background: url(spektra/sample.jpg) no-repeat scroll 50% 50%;
    height: 300px;

}

.about-header {
    height: 100%;
    /* Make the div take up the full height of the section */
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
}

.headings {
    color: white;
    font-size: 3rem;
}

.about {
    padding: 60px 45px;
}

.about-inner-about {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}

.about-item img {
    height: 300px;
    border-radius: 5px;
}