.about-header-hero {
    background: url(spektra/sample.jpg) no-repeat scroll 50% 50%;
    height: 300px;
}

.about-header {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headings {
    color: white;
    font-size: 3rem;
}

.about {
    padding: 60px 45px;
}

.about-inner-about {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}

.about-item img {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    display: block;
}

.image-overlay {
    position: relative;
    /* Create a relative positioned container */
}

.values {
    position: absolute;
    top: 0%;
    /* Vertically center */
    left: 50%;
    /* Horizontally center */
    transform: translate(-50%, -50%);
    /* Adjust for centering */
    color: white;
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
}

.services-item {
    text-align: center;
}

.services-item img {
    height: 300px;
    width: 100%;
    border-radius: 5px;
    display: block;
}

.services-item h3 {
    margin-top: 10px;
}